@*@model IEnumerable<ESL.Web.Areas.Dashboard.Models.ViewModels.Model_Payment>
@using ESL.Common.Plugins*@

@{
    ViewBag.Title = "شارژ کیف پول";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}


<div class="panel panel-body panel-default  navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>شارژ کیف پول</b></h4>
    </div>

    <div class="pull-right">
        <a href="@Url.Action("", "", new { area = "Dashboard" })"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
    </div>

</div>

<div class="panel panel-default">



</div>


@Html.Partial("_Modal")


@section Modal {

    <script>

        function ChangeState(id) {
            $.ajax({
                url: "/Dashboard/Payment/ChangeState/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('تغییر نوع تراکنش');
                $('#myModalBody').html(result);
            });
        }

        function Delete(id) {
            $.ajax({
                url: "/Dashboard/Payment/Delete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف تراکنش');
                $('#myModalBody').html(result);
            });
        }

    </script>

}