
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}

<div class="panel">

</div>


<div class="panel">
    <div class="panel-heading">
        <h1>joon</h1>

    </div>
    <div class="panel-body">
        <h1>joon</h1>
    </div>
</div>

