
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Master.cshtml";
}

<div class="panel panel-body panel-default  navigation">
    <div class="pull-left">
        <h4 class="navigation-title"><b>داشبورد</b></h4>
    </div>

    <div class="pull-right">
        <a href="#"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
        <a href="#"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
        <a href="#"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>
    </div>
</div>


<div class="panel panel-default">

    <div class="panel-body">
        <h1>joon</h1>
    </div>
</div>

